<header id="site-header" class="clearfix">
  <div class="wrapper">
    <nav id="menu">
      <div id="logo">
        <a class="site-title" href="{{ site.baseurl }}/">
          the flour mill
        </a>
      </div>
      <ul id="main-nav">
        <li><a href="/menu">menu</a></li>
        <li><a href="/reviews">reviews</a></li>
        <li><a href="/images">images</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<section id="header-image">
    <ul class="header-image-slides">
      <li></li>
      <li></li>
      <li></li>
    </ul> 
  </section> 