<aside id="sidebar">
	<div itemscope itemtype="http://schema.org/LocalBusiness">
    <span class="business-name" itemprop="name">The Flour Mill</span>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <i class="fa fa-map-marker" aria-hidden="true"></i> <span itemprop="streetAddress">4234 Main St</span>
        <span itemprop="addressLocality">Elk Horn</span>,
        <span itemprop="addressRegion">Iowa</span>
        <span itemprop="postalCode">51531</span>
    </div>
    <span class="tel" itemprop="telephone"><i class="fa fa-phone" aria-hidden="true"></i> (712) 764-6455</span><br>
    <div class="time">
    <time itemprop="openingHours" datetime="Mo 11:00-19:00"><i class="fa fa-clock-o" aria-hidden="true"></i> Mon: 11:00 am - 7:00 pm</time><br>
    <time itemprop="openingHours" datetime="We-Sa 11:00-21:00"><i class="fa fa-clock-o" aria-hidden="true"></i> Wed-Sat: 11:00 am - 9:00 pm</time><br>
    <time itemprop="openingHours" datetime="Su 11:00-19:00"><i class="fa fa-clock-o" aria-hidden="true"></i> Sun: 11:00 am - 7:00 pm</time><br>
    </div>
    <div class="payments">
    <span itemprop="paymentAccepted">Payment Methods:<br>Visa, American Express, Mastercard, Discover and Cash</span>
    </div>
    </div>
</aside>