/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Asap);
.wrapper {
	max-width: 92%;
	margin: 0 auto;
}
#site-header {
	background: #37474F;
	height: 70px;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 1;
}
#logo {
	float:left;
	margin-top:12px;
}
#logo a {
	font-family: 'Asap', sans-serif;
	text-decoration: none;
	font-size: 2em;
	color: #E0E0E0;
}
#main-nav {
	float:left;
	margin: 22px 0 0;
	padding-left: 50px;
}
#main-nav li {
	display:inline;
}
#main-nav li a {
	font-family: 'Asap', sans-serif;
	text-decoration:none;
	color: #fff;
  font-size: 1.4em;
  padding: 0 10px;
}
#header-image {
	background-image: url("/images/flour-mill-05.jpg");
	background-repeat: no-repeat;
	height: 420px;
	position: fixed;
	top: 70px;
	width: 100%;
	z-index: -1;
}
.page-heading {
	font-family: 'Asap', sans-serif;
	text-align: center;
}
section.post-list {
	text-align: center;
	padding: 10px 0;
	margin: 10px 50px;
}
section.post-list h2 a {
	color: #000;
}
article.post, .home {
	background: #fff;
	position: relative;
	top: 320px;
	z-index: 0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius:2px;
	float: left;
}
.single-post {
	padding: 0 30px;
}
.post-content img {
	max-width:100%;
	height:auto;
}
.post-content ul {display:inline;list-style:none;}
.post-content ul li {float:left;}
.post-content ul li a {
	font-family: 'Asap', sans-serif;
	text-decoration: none;
	color: #37474F;
	margin: 0 1em;
	font-size: 1.2em;
	text-transform: uppercase;
}
.post-content ul li a:hover, #menu-tabs ul li a.current {
	color: #f44336;
	border-bottom: 3px solid #f44336;
	padding-bottom: 7px;
}
#sidebar {
	box-shadow: 0px 1px 4px 0px #0003;
	border-radius:2px;
	float:left;
	position: fixed;
	top:390px;
	padding:10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius:2px;
	background: #FFF;
	left: 62%;
	max-width: 458.4px;
	margin: 0 30px 0 20px;
}
.business-name {
	font-size:2em;
}
div[itemprop="address"], .time, .payments {
	margin: 10px 0;
}
#menu-tabs {
	background:#E0E0E0;
	padding: 15px 0 12px;
	margin: 0;
}

.menu-item {
	border-bottom: 1px solid #E0E0E0;
	padding: 10px 20px;
}
.menu-item-last {border-bottom:none;}
span.price {color: #9E9E9E; font-size: 14px;}
small {margin-left: 20px;}
.menu-content {padding-top:10px;}
p.pizza {text-align:center;}
.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #E0E0E0; 
}
th { 
  background: #37474F; 
  color: white; 
  font-weight: lighter; 
}
td, th { 
  padding: 6px;  
  text-align: left; 
}

footer {margin-top: 30px;}